<div *ngFor="let recipe of recipeArray">
  <h1>{{recipe.name}}</h1>
  <h3>Ingredients</h3>
  <p *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</p>
  <h3>Instructions</h3>
  <p *ngFor="let instruction of recipe.instructions">{{instruction}}</p>
</div>

<form>
  <input [(ngModel)]="titleInput" type="text" name="title" placeholder="Recipe title">
  <input [(ngModel)]="ingredientInput" name="ingredient" type="text" placeholder="Add ingredient, separated by ;">
  <input [(ngModel)]="instructionsInput" name="instructions" type="text" placeholder="Add a step">
  <p>{{titleInput}}</p>
  <p>{{ingredientInput}}</p>
  <p>{{instructionsInput}}</p>
  <button (click)="recipeAdd(titleInput, ingredientInput, instructionsInput)" type="submit" name="button">submit</button>
</form>




<!-- <h1 *ngFor="let recipe of recipeArray">{{recipe.name}}{{rec}}<button (click)="infoLoop()" >Details!</button></h1>
<p>{{recipeArray[0].ingredients}}</p> -->
